@font-face {
    font-family: 'urbanist-regular';
    src: url('../font/urbanist/Urbanist-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'urbanist-medium';
    src: url('../font/urbanist/Urbanist-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'urbanist-semibold';
    src: url('../font/urbanist/Urbanist-SemiBold.ttf') format('truetype');
}

:root {
    --primary-color: 70, 70, 181;
    --secondary-color: 213, 240, 54;
    --dark-color: 12, 12, 28;
    --dark-secondary-color: 15, 15, 36;
    --dark-third-color: 18, 18, 43;
    --light-color: 255, 255, 255;

    --urbanist-regular: 'urbanist-regular', Arial, Helvetica, sans-serif;
    --urbanist-medium: 'urbanist-medium', Arial, Helvetica, sans-serif;
    --urbanist-semibold: 'urbanist-semibold', Arial, Helvetica, sans-serif;
}

* {
    font-family: var(--urbanist-medium);
    color: rgba(var(--light-color), 1);
    transition: 250ms !important;
}

body {
    background-color: rgba(var(--dark-color), 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 142%;
    margin-bottom: 0;
}

/* COMPONENT STYLE */
section.section-gap {
    padding-top: 122px;
}

section.section-gap-top {
    margin-top: 72px;
}

.headline,
.title {
    line-height: auto;
    font-size: 4rem;
    color: rgba(var(--light-color), 1);
    font-family: var(--urbanist-semibold);
    line-height: 112%;
}

.title {
    font-size: 3rem;
}

.subtitle {
    padding: 9px 15px;
    background-color: rgba(var(--secondary-color), 0.12);
    border-radius: 9999px;
    color: rgba(var(--secondary-color), 1);
    font-size: 0.813rem;
    font-family: var(--urbanist-regular);
    margin-bottom: 14px !important;
}

p.paragraph,
p.paragraph-small {
    font-size: 1rem;
    color: rgba(var(--light-color), 0.72);
}

p.paragraph-small {
    font-size: 0.938rem;
}

p.paragraph-primary {
    font-size: 0.875rem;
    color: rgba(var(--secondary-color), 1);
}

h5,
h6 {
    line-height: 142%;
    font-size: 1.063rem;
    color: rgba(var(--light-color), 1);
    font-family: var(--urbanist-semibold);
}

h5 {
    font-size: 1.125rem;
}

.button-default {
    display: inline-block;
    width: fit-content;
    text-decoration: none;
    padding: 16px 28px;
    background-color: rgba(var(--light-color), 1);
    border: 1px solid rgba(var(--light-color), 1);
    border-radius: 9999px;
    font-size: 0.875rem;
    color: rgba(var(--dark-color), 1);
}

.button-default .arrow-icon {
    width: 10px;
    height: 10px;
    background-image: url('../img/icon/arrow-button-dark.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.button-default:hover > .arrow-icon {
    background-image: url('../img/icon/arrow-button-light.svg');
}

.button-default:hover {
    background-color: transparent;
    color: rgba(var(--light-color), 1);
}

.button-secondary {
    display: inline-block;
    width: fit-content;
    text-decoration: none;
    padding: 16px 28px;
    background-color: rgba(var(--dark-color), 1);
    border: 1px solid rgba(var(--dark-color), 1);
    border-radius: 9999px;
    font-size: 0.875rem;
    color: rgba(var(--light-color), 1);
}

.button-secondary .arrow-icon {
    width: 10px;
    height: 10px;
    background-image: url('../img/icon/arrow-button-light.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.button-secondary:hover > .arrow-icon {
    background-image: url('../img/icon/arrow-button-dark.svg');
}

.button-secondary:hover {
    background-color: transparent;
    color: rgba(var(--dark-color), 1);
}

.button-third {
    display: inline-block;
    width: fit-content;
    text-decoration: none;
    padding: 16px 28px;
    background-color: rgba(var(--secondary-color), 1);
    border: 1px solid rgba(var(--secondary-color), 1);
    border-radius: 9999px;
    font-size: 0.875rem;
    color: rgba(var(--dark-color), 1);
}

.button-third .arrow-icon {
    width: 10px;
    height: 10px;
    background-image: url('../img/icon/arrow-button-dark.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.button-third:hover > .arrow-icon {
    background-image: url('../img/icon/arrow-button-secondary.svg');
}

.button-third:hover {
    background-color: transparent;
    color: rgba(var(--secondary-color), 1);
}

.card-default {
    background-color: rgba(var(--dark-secondary-color), 1);
    padding: 20px;
    border-radius: 12px;
}

.card-number {
    width: 52px;
    height: 52px;
    border-radius: 6px;
    background-color: rgba(var(--dark-third-color), 1);
    font-size: 1.675rem;
    font-weight: bold;
}

.swiper-pagination-stories {
    transform: translateY(16px);
}

.swiper-pagination-bullet {
    background-color: rgba(var(--light-color), 0.24) !important;
    width: 10px !important;
    height: 10px !important;
    margin: 0 2px !important;
    border-radius: 9999px !important;
}

.swiper-pagination-bullet-active {
    width: 26px !important;
    background-color: rgba(var(--light-color), 1) !important;
}

/* .card-icon {
    padding: 15px;
    border-radius: 3px;
    background-color: rgba(var(--light-secondary-color), 1);
    border: 1px solid rgba(var(--dark-color), 0.12);
    width: fit-content;
}

.card-link {
    color: rgba(var(--primary-color), 1);
    font-size: 0.875rem;
    border: none;
    stroke: none;
    outline: none;
    background-color: transparent;
    padding: 0;
}

.card-link:hover > img {
    transform: translateX(3px);
} */
/* END COMPONENT STYLE */


/* COMPONENT NAVBAR */
.nav-link {
    font-size: 1rem;
    color: rgba(var(--light-color), 1);
}

.nav-link.active,
.nav-link:hover {
    color: rgba(var(--secondary-color), 1) !important;
}
/* END COMPONENT NAVBAR */


/* SECTION HERO */
.hero {
    height: 100vh;
    background-color: rgba(var(--primary-color), 1);
}

.hero-content {
    padding-top: 22vh;
    height: 88vh;
    position: absolute;
    bottom: 0;
}
/* END SECTION HERO */


/* SECTION ABOUT */
.button-about {
    all: unset;
    cursor: pointer;
    font-size: 0.875rem;
    padding: 9px 15px;
    color: rgba(var(--light-color), 1);
    background-color: transparent;
    border-radius: 9999px;
}

.button-about:hover,
.button-about.active {
    background-color: rgba(var(--light-color), 0.12);
}
/* END SECTION ABOUT */


/* SECTION FAQ */
.faq h6 {
    font-size: 1rem !important;
    color: rgba(var(--dark-color), 1) !important;
    font-family: var(--urbanist-medium) !important;
}

.accordion-item {
    border: 1px solid rgba(var(--dark-color), 0.12) !important;
    outline: none !important;
    stroke: none !important;
    background-color: rgba(var(--light-secondary-color), 1) !important;
}

.accordion-button {
    box-shadow: none !important;
    padding: 24px !important;
    background-color: rgba(var(--light-secondary-color), 1) !important;
}

.accordion-body > p {
    border-top: 1px solid rgba(var(--dark-color), 0.12);
}

.accordion-button::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    border-radius: 3px;
    border: 1px solid rgba(var(--dark-color), 0.12);
    background-color: rgba(var(--light-secondary-color), 1);
    background-image: url('../img/icon/arrow-down.svg');
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center;
}

/* .accordion-button:not(.collapsed)::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    border-radius: 3px;
    border: 1px solid rgba(var(--dark-color), 0.12);
    background-color: rgba(var(--light-secondary-color), 1);
    background-image: url('../img/icon/arrow-top.svg');
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center;
} */

.accordion-button::after {
    display: none;
}
/* END SECTION FAQ */


/* COMPONENT CTA */
.cta {
    background-color: rgba(var(--light-secondary-color), 1);
    border: 1px solid rgba(var(--dark-color), 0.12);
    border-radius: 6px;
    padding: 72px 0;
    margin-top: 72px;
}
/* END COMPONENT CTA */


/* FOOTER */
.footer {
    background-color: rgba(var(--light-color), 1);
    padding-top: 122px;
}

.footer h6 {
    color: rgba(var(--dark-color), 1);
}

.footer .paragraph-small {
    font-size: 0.913rem;
    color: rgba(var(--dark-color), 0.72);
    text-decoration: none;
}

.footer a.paragraph-small:hover {
    color: rgba(var(--dark-color), 1);
}

.sosmed-icon {
    width: 40px;
    height: 40px;
    background-color: rgba(var(--light-secondary-color), 1);
    border: 1px solid rgba(var(--dark-color), 0.12);
    border-radius: 4px;
}

.sosmed-icon:hover {
    background-color: rgba(var(--light-color), 1);
}

.copyright {
    padding: 22px 0 !important;
    border-top: 1px solid rgba(var(--dark-color), 0.12);
}

.copyright p {
    font-size: 0.875rem;
    color: rgba(var(--dark-color), 0.32);
}
/* END FOOTER */


/* BREAKPOINT XL */
@media (max-width: 1399.98px) {
    .headline {
        font-size: 3.5rem;
    }

    .title {
        font-size: 2.75rem;
    }
}
/* END BREAKPOINT XL */


/* BREAKPOINT LG */
@media (max-width: 1199.98px) {
    .headline {
        font-size: 3.25rem;
    }

    .title {
        font-size: 2.5rem;
    }
}
/* END BREAKPOINT LG */


/* BREAKPOINT MD */
@media (max-width: 991.98px) {
    .hero {
        height: fit-content;
        padding: 116px 0 72px !important;
    }
    
    .hero-content {
        padding-top: 0;
        height: fit-content;
        position: relative;
    }

    section.section-gap {
        padding-top: 72px !important;
    }

    section.section-gap-top {
        margin-top: 24px;
    }

    .headline,
    .title {
        font-size: 3rem;
    }

    .title {
        font-size: 2.25rem;
    }
}
/* END BREAKPOINT MD */


/* BREAKPOINT SM */
@media (max-width: 767.98px) {
}
/* END BREAKPOINT MD */